name: container
on:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout the code
      uses: actions/checkout@v1
    - name: the-more-you-know
      run: env | sort
    - name: get packer
      run: |
        wget -q https://releases.hashicorp.com/packer/1.4.3/packer_1.4.3_linux_amd64.zip
        unzip -q packer_1.4.3_linux_amd64.zip
        rm packer_1.4.3_linux_amd64.zip
    - name: build
      run: $GITHUB_WORKSPACE/packer build container-minecraft.json
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        QUAY_USERNAME: ${{ secrets.QUAY_USERNAME }}
        QUAY_PASSWORD: ${{ secrets.QUAY_PASSWORD }}
        DEBIAN_VERSION: bullseye
        OPENJDK_VERSION: 11
        FORGE_VERSION: "1.12.2-14.23.5.2844"
        PROJECT_NAME: yellowmegaman
        FROM_IMAGE: yellowmegaman/container-openjdk
